@model List<Order>

@{
    ViewData["Title"] = "Sve narudžbe";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Spisak svih vaših narudžbi</h4>
        </p>
        <table class="table bg-white">
            <thead>
                <tr>
                    <th>ID narudžbe</th>
                    <th>Stavke</th>
                    <th>Ukupan iznos</th>
                    @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                    <th>Korisnik</th>
                        
                    }
                </tr>
            </thead>
            <tbody>
                @foreach(var order in Model)
                {
                    <tr>
                        <td class="align-middle" style="font-weight:500">@order.Id</td>
                        <td class="align-middle">
                            <ul style="list-style-type:none; padding-left:0">
                                @foreach(var item in order.OrderItemsNew)
                                {
                                <li>
                                    <div class="row alert alert-info" role="alert">
                                        @if(item.Laptop != null)
                                            {
                                                <div class="col-4 text-start align-self-center"><span class="badge bg-success me-2">@item.Amount</span></div> <div class="col-4 text-center align-self-center" style="font-weight:500"><p class="me-2 mb-0">[@item.Price.ToString("F") KM] - @item.Laptop.Model</p> </div><div class="col-4 text-end align-self-center"><img src="@item.Laptop.ProfilePictureUrl" style="width:100px"/></div>
                                            }
                                            else
                                            {
                                                 <div class="col-4 text-start align-self-center"><span class="badge bg-success me-2">@item.Amount</span></div> <div class="col-4 text-center align-self-center" style="font-weight:500"><p class="me-2 mb-0">[@item.Price.ToString("F") KM] - @item.Component.Model</p></div> <div class="col-4 text-end align-self-center"><img src="@item.Component.ComponentsPictureUrl" style="width:100px"/></div>
                                            }
                                        </div>
                                </li>
                                }
                            </ul>
                        </td>
                        <td class="align-middle fw-bold">
                            @order.OrderItemsNew.Select(m=>((m.Laptop != null ? m.Laptop.Price : 0) * m.Amount) + ((m.Component != null ? m.Component.Price : 0) * m.Amount)).Sum().ToString() KM
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <td class="align-middle" style="font-weight:500"> @order.User.FullName </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>